@using PagedList.Mvc;
@model PagedList.IPagedList<DTO.DonHangDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">

        <div class="col-md-9">
            <div class="myorder-content clearfix">
                <h1 class="title"><span>Quản Lí Đơn Hàng!</span></h1>
                <div class="myorder-block">
                    <div class="table-responsive clearfix myorder-info">
                        <!--tim kiem-->
                        <input id="txtSearch" type="text" name="searchString" /><!--name = bien truyen vao controler-->
                        <button onclick="search()">tìm kiếm</button>
                        <!---->
                        <table class="table table-mycart">
                            <thead>
                                <tr>

                                    <th>Mã đơn hàng</th>
                                    <th>Mã khách hàng</th>
                                    <th>Ngày Đặt</th>
                                    <th>Trình Trạng Giao</th>
                                    <th>HọTên</th>
                                    <th>SDT</th>
                                    <th>Email</th>
                                    <th>Dchi</th>
                                    <th>Chức Năng</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>HD @item.MaDonHang</td>
                                        <td>@item.MaKH</td>
                                        <td>@item.NgayDat.ToString("dd/MM/yyyy")</td>
                                        @if (@item.TinhTrangGiaoHang == true)
                                        {
                                            <td>chưa giao</td>
                                        }
                                        else
                                        {
                                            <td>đã giao</td>
                                        }
                                        <td>@item.HoTen</td>
                                        <td>@item.SDT</td>
                                        <td>@item.Email</td>
                                        <td>@item.DiaChi</td>
                                        <td>
                                            <ul>
                                                <li><a style="font-size: 15px;" href="/HoaDon/XemChiTietDonHang/@item.MaDonHang"><i class="fa fa-angle-double-right "></i>Xem</a></li>
                                                @if (@item.TinhTrangGiaoHang == true)
                                                {
                                                    <li><a class="btn btn-default btn-add-cart" href="/admin/qlhoadon/xoa/@item.MaDonHang">HoànThành</a></li>
                                                }
                                               
                                            </ul>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <!--PHÂN TRANG-->
                        <div class="navigation">
                            <ul class="pagination">
                                <!--nut Lui-->
                                <li>
                                    <a href="?page=1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="?page=1">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</a></li>
                                <!--nut next-->
                                <li>
                                    <a href="?page=@Model.PageCount" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <!--so trang-->
                                <li> @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @timkiem = @ViewBag.timkiem })) </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--JS TIM KIEM-->
<script>
    var link = '/sach ? timkiem =&chude=1&tacgia, int ? nxb, int ? page';

    function search() {
        window.location.href = '/admin/qlhoadon?timkiem=' + document.getElementById('txtSearch').value;
        //alert(window.location.href);
    }

</script>


<!---->